{% extends 'AppBundle::layout.html.twig' %}


{% block sidebar %}
    <h4>Менеджер зала</h4>
    {% for test in club %}
        {{ test.title }}
    {% endfor %}
{% endblock %}


{% block content %}

<h1 class="page-header">
	<small>Гости</small>
</h1>

{% endblock %}
